body{
    background-color: lightgray;
}
h1{
    background-color: lightblue;
    text-align: center;
    
}
footer{
    background-color: lightgreen ;
    text-align: center;
}
table{
    padding: 5px;
    border: 1cm;
}
form{
    padding: 10px;
    border: 1cm;
}